*{
  box-sizing: border-box;
}

body {
  background-color: #e3e3e3;
  padding-top: 100px;
  text-align: center;
}

.card-container {
  display: inline-block;
  position: relative;

  width: 300px;
  height: 200px;

  color: white;
  font-family: Calibri;
  
  border-radius: 5px;

  padding: 25px 30px;
  overflow: hidden;
  text-align: initial;
}

.card-container:nth-child(3n+2){
  background: rgb(140, 200, 245);
  background: linear-gradient(
    90deg,
    rgba(140, 200, 245, 1) 0%,
    rgb(23, 101, 202) 100%
  );
}

.card-container:nth-child(3n+1){
  background: rgb(140, 200, 245);
  background: linear-gradient(
    90deg,
    rgb(255,191,152) 0%,
    rgb(255, 124, 174) 100%
  );
}

.card-container:nth-child(3n){
  background: rgb(140, 200, 245);
  background: linear-gradient(
    90deg,
    rgb(129, 212, 205) 0%,
    rgb(9,208,185) 100%
  );
}

.card-container + .card-container{
  margin-left: 30px;
}

.card-container::before,.card-container::after{
  content: "";
  background-color: #eff8ff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.card-container::before {
  
  top: -50px;
  right: -100px;
}
.card-container::after {
  bottom: -100px;
  right: -20px;
}


.heading{
  display: inline-block;
}


.card-header{
  display: flex;
}
.card-icon{
  margin-left: auto;
}

.digit-stats{
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0.5em;
}
.percentage-point{
  margin-top: 2.5em;
}